**/node_modules
**/.next
**/.git
**/.env*
**/README.md
**/Dockerfile
**/.dockerignore
**/.gitignore
**/.gcloudignore
**/.pnpm-store
**/.vscode
**/.idea
**/.DS_Store
**/coverage
**/dist
**/build
**/out